/* --- box container --- */

.box {
    padding: var(--space-xl);
    text-align: center;
    background-color: var(--background);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-medium);
    max-width: 420px;
}

/* --- timer --- */

/* base styles */
.timer {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Deletes default styles */

    width: 100%;
    height: var(--space-lg);
    border: none;
    background-color: var(--neutral);
    border-radius: var(--radius-lg);
    overflow: hidden;
}

/* background colour and animation */
.timer::-webkit-progress-bar {
    background-color: var(--neutral);
}

.timer::-webkit-progress-value {
    background-color: var(--accent);
    border-radius: var(--radius-lg);
    transition: width 1s linear;
}

.timer::-moz-progress-bar {
    background-color: var(--accent);
    border-radius: var(--radius-lg);
    transition: width 1s linear;
}


/* --- game form --- */

.answerForm > button{
    max-height: 38px;
}

@media screen and (min-width: 500px) {
    .answerForm{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
}