/* === Nav Bar === */

.nav{
    display: grid;
    background-color: #1c3a6d;
}

.navList{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-areas: "home profile";
}

.homeLi{
    grid-area: home;
    max-width: max-content;
}

.profile{
    grid-area: profile;
    margin: auto;
}

.mainNavigation{
    display: none;
    grid-area: main-navigation;
}

.mainNavigation > div {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .nav > div{
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "home main-navigation profile"
            /* [MathTrack] [dashboard, game, ...] [user profile] */
        ;
    }
    
    .mainNavigation{
        display: block;
    }
}



/* === Footer === */

footer {
    padding: var(--space-lg) var(--space-md);
    text-align: center;
    border-top: 1px solid #e3e3e3;
    margin-top: 2rem;
    color: var(--color-text-secondary);
    font-size: var(--font-size-sm);
}

/* Footer's text */

.footerInfo {
    margin-bottom: var(--space-xs);
}

/* --- footer's media query */

@media (min-width: 768px) {
    footer {
        padding: var(--space-xl);
        font-size: var(--font-size-md);
    }
}
