/* === HEADER CONTAINER === */
.header {
    display: flex;
    justify-content: center;
    background-color: #1c3a6d;
}

/* --- nav list --- */
.navList {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* --- items --- */
.navItem {
    display: none;
}

/* --- desktop --- */
@media (min-width: 768px) {
    .navItem {
        display: flex;
    }

    .navList {
        grid-template-columns: auto 1fr 1fr 1fr auto;
    }
}

/* === FOOTER === */

footer {
    padding: var(--space-lg) var(--space-md);
    text-align: center;
    border-top: 1px solid #e3e3e3;
    margin-top: 2rem;
    color: var(--color-text-secondary);
    font-size: var(--font-size-sm);
}

/* Footer's text */

.footerInfo {
    margin-bottom: var(--space-xs);
}

/* --- footer's media query */

@media (min-width: 768px) {
    footer {
        padding: var(--space-xl);
        font-size: var(--font-size-md);
    }
}