.pointer{ cursor: pointer; }

.text-center{ text-align: center; }

.max-w-700px{ max-width: 700px;}

.m-auto{ margin: auto; }

/* === flex utilities === */
.flex { display: flex; }

/* --- justify-content */

.justify-center { justify-content: center; }

.justify-evenly { justify-content: space-evenly; }

/* --- align-items */

.align-center{ align-items: center; }

/* --- flex-direction */

.flex-column { flex-direction: column; }