.select {
    margin-top: var(--space-xs);
    padding: var(--space-sm);
    background-color: var(--background);
    border: 0;
    border-radius: var(--radius-lg);
    font-size: var(--font-size-sm);
    color: var(--text-light);
    cursor: pointer;
    transition: background-color var(--transition-fast), outline var(--transition-fast);
    appearance: none;
    background-image: url('../../../icons/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right var(--space-xs) center;
    padding-right: var(--space-xl);
}

.select:focus {
    outline: 2px solid var(--accent-dark);
    outline-offset: 2px;
}

.select:hover {
    background-color: var(--button-hover);
    color: white;
}