.selectForm > select{
    width: 100%;
    max-width: 190px;
}

.gameLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.gameLink > a{
    text-decoration: underline;
}