.settingsContent {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.settingsItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumbNav{
    margin-bottom: 1rem;
}

.breadcrumbNav > ol{
    display: flex;
    gap: 0.5rem;
    list-style: none;
    align-items: center;
}