.settingsContent {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.settingsItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumbNav{
    margin-bottom: var(--space-md);
}

.breadcrumbNav > ol{
    display: flex;
    gap: var(--space-xs);
    list-style: none;
    align-items: center;
}