/* === LAYOUT === */
.header{
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-md);
}

.settingsContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-xl);
}

/* === SETTINGS ITEMS === */
.settingsItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --- information --- */
.itemInformation{
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.itemAction{
    align-self: flex-end;
    margin-bottom: var(--space-xs);
}

/* === NAV === */
.breadcrumbNav{
    margin-bottom: var(--space-md);
}

.breadcrumbNav > ol{
    display: flex;
    gap: var(--space-xs);
    list-style: none;
    align-items: center;
}