/* --- box container --- */

.box {
    padding: var(--space-xl);
    text-align: center;
    background-color: var(--background);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-medium);
    max-width: 420px;
}

/* --- game form --- */

.answerForm > button{
    max-height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 500px) {
    .answerForm{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
}