.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

.overflow{
    overflow-x: scroll;
}